@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', monospace;
}

body {
  margin: 0;
}

.header {
  width: 100vw;
  max-width: 100%;
  height: 26rem;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main-container {
  color: #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main-container img {
  width: 16rem;
  height: 16rem;
  margin-right: 1rem;
}

.header .main-container .inner-container {
  padding: 0.3rem 1.2rem;
  max-width: 100%;
}

.header .main-container .inner-container h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  margin-bottom: 1.2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.header .main-container .inner-container h4 {
  font-weight: 600;
}

.header .main-container .inner-container p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

.header .main-container .inner-container a {
  color: #FFDE25;
  text-decoration: none;
  font-weight: 600;
}

.header .main-container .inner-container .btn-black {
  background: #E9CA32;
  color: #181818;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .main-container .inner-container .btn-black:hover {
  background-color: #DDDDDD;
  color: #181818;
}

main {
  background-color: #252525;
}

#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 1.2rem;
  margin: 0;
  text-align: center;
}

#list li {
  -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
  background-color: #181818;
  margin: 1.2rem;
  width: 18rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#list li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#list li a {
  color: #FFC600;
  font-size: 1.1rem;
  text-decoration: none;
}

#list li a:hover {
  color: #DDDDDD;
}

#list li img {
  border-radius: 4px 4px 0 0;
  height: 200px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

#list li div {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #181818;
  color: #DDDDDD;
  font-size: 1rem;
  padding: 1.4rem;
  text-align: center;
  margin-top: auto;
}

footer .fa-heart {
  color: #D23333;
}

footer a {
  color: #FFC600;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: #DDDDDD;
}

@media screen and (max-width: 830px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header img {
    display: none;
  }
  .header .inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */